.center {
  text-align: center;
}

.image {
  width: 60%;
  height: 60%;
}

.top {
  overflow: hidden;
  background-color: #075270;
}

.top a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: lobster, helvetica, sans-serif;
}

.top a:hover {
  background-color: #ddd;
  color: black;
}